.controlsContainer {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*width: 100vw;*/
    /*background-color: transparent;*/
    /*margin-top: -50vh;*/
    /*!*!*padding: 0 40px;*!*!*/
    /*z-index: 20;*/
    position: relative;
    top: -335px;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*padding-top: 18rem;*/
    margin: auto;
    color: #EFEFEF;

}


.controlsIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10rem;
    margin-right: 10rem;
}


.controlsIcon--small {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 10rem;
    margin-right: 10rem;
}
.timeControls {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-evenly;*/
    /*position: absolute;*/
    /*bottom: 4rem;*/
   margin-bottom: 3rem;
    margin-left: 10vw;
    margin-right: 10vw;
}
